body {
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 1252px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: var(--color-fon);
}

.header {
    min-height: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inika;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-black);
}

.head-logo {
    display: flex;
    justify-content: flex-start;
}

.head-logo img {
    height: 20px;
    width: 20px;
}

.head-menu {
    display: flex;
    justify-content: space-between;
}

.head-menu .head-items {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 10px;
    flex-wrap: nowrap;
}

.head-menu .head-items a{
    text-decoration: none;
    color: var(--color-black);
}

.welcom {
    background-color: var(--color-fon);
}

.welcom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcom .laefs{
    padding-right: 50px;
}

.welcom .laefs img{
    width: 448px;
}

.welcom .welcom-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 90px 0;
    max-width: 549px;
}

.welcom-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 45px;
    color: var(--color-title);
    line-height: 50px;
}

.welcom-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    color: var(--color-text);
    line-height: 35px;
    margin: 50px 0 50px;
}

.welcom-section .button {
    height: 44px;
    width: 158px;
    font-family: Inter;
    font-weight: 400;
    border: 2px solid var(--color-orange);
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
}

.welcom-section .button:hover {
    background-color: var(--color-orange);
    color: #ffffff;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 95px 0;
}

.about-article {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.about-title {
    font-family: Inika;
    font-weight: 400;
    font-size: 45px;
    color: var(--color-green);
    line-height: 50px;
    margin-bottom: 40px;
}

.about-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    color: var(--color-text);
    line-height: 35px;
}

.about .about-logo img{
    height: 480px;
    width: 465px;
}

.service {
    background-color: var(--color-fon);
}

.service-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
}

.service-top {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 40px 0 30px 0;
    gap: 20%;
}

.service-top .service-title {
    color: var(--color-green);
    font-family: Inika;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    min-width: 30%;
}

.service-top .service-menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-left: 55px;
}

.service-top .button-service{
    width: 160px;
    font-family: Inika;
    font-weight: 400;
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.service-top .button-service:hover{
    color: white;
    background-color: var(--color-orange);
}

.service-main {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px;
}

.service-main .service-name {
    width: 330px;
    border: 1px solid #E3E1D5;
    border-radius: 0 0 20px 20px;
    text-align: center;
    padding-bottom: 25px;
}

.service-main .topic {
    color: var(--color-orange);
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
}
.service-main p {
    color: var(--color-title);
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.price-content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.price .price-choose {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 60px;
}

.price .price-choose p:first-child {
    font-family: Inter;
    font-weight: 700;
    color: black;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}

.price .price-box {
    width: 330px;
    gap: 30px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.price .accordion {
    width: 250px;
    height: 50px;
    background-color: var(--color-fon);
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.04s;
    padding-left: 40px;  
    padding-right: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price .accordion:hover {
    background-color: #D6E7D2;
}

.price .circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.price .circle img{
    display: table;
    width: 9px; 
    height: 9px;
    transition: all 0.5s;
    transform: rotate(0deg);
    filter: invert(46%) sepia(0%) saturate(1406%) hue-rotate(157deg) brightness(94%) contrast(80%);
}

.price .accordion.active {
    background-color: #D6E7D2;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.price .accordion.active img {
    transform: rotate(180deg);
    filter: invert(0%) sepia(0%) saturate(7432%) hue-rotate(35deg) brightness(115%) contrast(101%);
}

.price .accordion.active .circle {
    background-color: #AEA1A1;
}

.price .panel {
    width: 250px;
    padding: 0 25px;
    background-color: #D6E7D2;
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0 0 20px 20px;
    text-align: left;
}

.price .wrapper {
    border-top: 0.5px solid #AEA1A1 ;
}

.price .panel p:nth-child(1) {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    color: var(--color-title);
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: left;
}

.price .panel p:last-child {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
}

.price .panel span {
    color: var(--color-orange);
    font-family: Inter;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.price .panel .order {
    width: 86px;
    color: var(--color-title);
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
}

.price .price-help {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    width: 40%;
    padding-bottom: 100px;
    text-align: right;
}

.price .price-help p {
    font-family: Inter;
    font-weight: 700;
    color: black;
    font-size: 40px;
    line-height: 50px;
}

.price .button-contact{
    min-width: 160px;
    font-family: Inika;
    font-weight: 700;
    color: var(--color-orange);
    background-color: #ffffff;
    border: 1px solid var(--color-orange);
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 0;
}

.price .button-contact:hover{
    color: white;
    background-color: var(--color-orange);
}

.price .price-help img{
    height: 175px;
    width: 155px;
}

.contacts {
    background-color: var(--color-fon);
}

.contacts .contacts-content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    position: relative;
}

.contacts .contacts-content > p:nth-child(1) {
    font-family: Inika;
    font-weight: 700;
    color: var(--color-green);
    font-size: 40px;
    line-height: 50px;
    width: 200px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.contact-form {
    margin-left: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
}

.contact-form select {
    width: 450px;
    height: 50px;
    font-size: 20px;
    color: var(--color-title);
    background-color: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding-left: 15px;
    border: none;
}

 .contact-form option {
    background-color: #D6E7D2;
 }

.contact-form select:hover {
    color: var(--color-title);
    background-color: #C1E698;
}

.contact-form .output-information {
    width: 450px;
    border: 1px solid;
    border-radius: 20px;
    flex-direction: column;
    padding: 20px 25px 25px;
    flex-shrink: 1;
    display: none;
}

.contact-form .output-information.active {
    display: flex;
}

.contact-form .outinfo {
    display: flex;
    justify-content: space-between;
    min-width: 40%;
}

.contact-form .outinfo > p:last-child{
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    min-width: 59%;
}

.contact-form .output-information p{
    font-family: Inter;
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    color: var(--color-title);
}

.contact-form .btn-call-us {
    text-align: center;
}

.contact-form .button-call-us {
    width: 122px;
    font-family: Inika;
    font-weight: 700;
    color: var(--color-title);
    border: 1px solid var(--color-orange);
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    line-height: 15px;
    padding: 5px 0;
    margin-top: 15px;
}

.contact-form .button-call-us:hover{
    color: white;
    background-color: var(--color-orange);
}

.footer {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
} 

.footer .socials {
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
}

.socials img {
    height: 32px;
    width: 32px;
    margin-right: 10px;
    margin-left: 10px;
}

@media only screen and (max-width: 1439px) {
    .container {
        width: 698px;
    }

    .welcom-content {
        display: flex;
        flex-direction: row-reverse;
    }

    .welcom .welcom-section {
        padding: 40px 0 70px;
        max-width: 53%;
    }

    .welcom-title {
        font-size: 35px;
    }

    .welcom-text {
        font-size: 16px;
        line-height: 25px;
        margin: 30px 0 30px;
    }

    .welcom .laefs{
        padding: 0 0 0 15px;
        margin-top: -70px;
    }
    
    .welcom .laefs img{
        width: 608px;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0 95px;
        gap: 60px;
    }

    .about-article {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .about-title {
        font-size: 35px;
        line-height: 46px;
        margin-bottom: 50px;
        text-align: center;
        padding-left: 80px;
        padding-right: 80px;
    }
    
    .about-text {
        font-size: 20px;
        line-height: 30px;
    }
    
    .about .about-logo img{
        height: 258px;
        width: 250px;
    }

    .service-content {
        padding-bottom: 70px;
    }

    .service-top {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        padding: 60px 0 0 0;
        gap: 40px;
    }
    
    .service-top .service-title {
        font-size: 35px;
        line-height: 46px;
        max-width: 40%;
    }
    
    .service-top .service-menu {
        margin-left: 0;
    }

    .service-main {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-top: 40px;
    }

    .service-main .service-picture img {
        width: 280px;
    }

    .service-main .service-name {
        width: 280px;
        padding: 0 15px 15px 15px;
    }
    
    .service-main .topic {
        line-height: 35px;
    }

    .price .price-choose p:first-child {
        text-align: left;
    }

    .price .price-help {
        width: 60%;
        padding-top: 110px;
        padding-bottom: 90px;
        text-align: right;
        gap: 30px;
    }
    
    .price .price-help p {
        font-size: 25px;
        line-height: 35px;
    }

    .contacts .contacts-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        min-height: 800px;
    }

    .contacts .logo-contacts {
        width: 250px;
    }

    .contacts .contacts-content > p:nth-child(1) {
        position: absolute;
        left: 50%;
        top: 40px;
        margin-right: -50%;
        transform: translate(-50%, 0);
    }

    .contact-form {
        margin-left: 0;
    }

    .footer {
        flex-direction: column;
        padding: 25px 0;
    } 

    @media only screen and (max-width: 767px) {
        
        .container {
            width: 345px;
            padding: 0 17.5px;
            overflow-x: hidden;
        }

        .header {
            min-height: 95px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .hamburger-menu {
            width: 30px;
            height: 30px;
            position: relative;
            cursor: pointer;
            z-index: 1;
        }

        .hamburger-menu span {
            width: 30px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #333333;
            transition: all 0.001s;
        }
        .hamburger-menu span:nth-of-type(2) {
            top: calc(50% - 8px);
        }
        .hamburger-menu span:nth-of-type(3) {
            top: calc(50% + 8px);
        }

        .hamburger-menu.active span:nth-child(1) {
            display: none;
        }
        .hamburger-menu.active span:nth-child(2) {
            top: 50%;
            transform: translate(-50%, 0) rotate(45deg);
        }
        .hamburger-menu.active span:nth-child(3) {
            top: 50%;
            transform: translate(-50%, 0) rotate(-45deg);
        }

        .head-menu {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            top: 100px;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 10px 0px 25px 0;
            background: lightslategrey;
            transform: translateX(100%);
	        transition: transform 0.001s;
        }

        .head-menu.active {
            transform: translateX(0);
        }
        
        .head-menu .head-items {
            padding: 10px 0 10px 25px;
            margin: 0 35px;
            min-width: 320px;
        }

        .head-menu .head-items:hover {
            background-color: #C1E698;
        }

        .welcom .laefs img{
            display: none;
        }

        .welcom .welcom-section {
            padding: 25px 0 24px;
            max-width: 100%;
        }

        .welcom-title {
            font-size: 25px;
            line-height: 35px;
        }
        
        .welcom-text {
            font-size: 16px;
            line-height: 25px;
            margin: 20px 0 25px;
        }

        .welcom-section .button {
            height: 34px;
            width: 100px;
            font-size: 10px;
            line-height: 20px;
        }

        .about-content {
            padding: 35px 0;
            gap: 0px;
        }
       
        .about-title {
            font-size: 25px;
            line-height: 32px;
            margin-bottom: 15px;
            padding-left: 10px;
            padding-right: 10px;
        }
        
        .about-text {
            font-size: 15px;
            line-height: 25px;
        }
        
        .about .about-logo img{
            height: 150px;
            width: 150px;
        }

        .service-content {
            padding-bottom: 25px;
        }

        .service-top {
            padding: 30px 0 0 0;
            gap: 30px;
        }

        .service-top .service-title {
            font-size: 25px;
            line-height: 33px;
            max-width: 70%;
        }

        .service-top .service-menu {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 10px;
            margin-left: 0;
        }
        
        .service-top .button-service{
            width: 121px;
            font-size: 15px;
            line-height: 20px;
            padding-top: 6.5px;
            padding-bottom: 6.5px;
        }

        .service-main {
            justify-content: center;
        }

        .price .price-content {
            flex-direction: column;
            padding-top: 25px;
        }

        .price .price-choose {
            gap: 40px;
            align-items: center;
        }

        .price .price-choose p:first-child {
            font-size: 25px;
            line-height: 30px;
            text-align: center;
        }

        .price .price-box {
            width: 225px;
            gap: 30px;
        }
        
        .price .accordion {
            width: 180px;
            font-size: 15px;
            padding-left: 30px;  
        }

        .price .panel {
            width: 180px;
            padding: 0 25px;
        }

        .price .panel p:nth-child(1) {
            font-size: 12px;
            line-height: 12px;
            text-align: left; 
        }

        .price .panel .order {
            font-size: 14px;
        }

        .price .price-help {
            align-items: center;
            gap: 20px;
            width: 100%;
            padding: 20px 55px 40px 55px;
            text-align: center;
        }
        
        .price .price-help p {
            font-size: 20px;
            line-height: 35px;
        }
        
        .price .button-contact{
            min-width: 120px;
            font-size: 15px;
            padding: 5px 0;
        }

        .price .price-help img {
            display: none;
        }

        .contacts .contacts-content {
            padding-top: 0px;
            min-height: 450px;
        }
        
        .contacts .contacts-content > p:nth-child(1) {
            font-size: 25px;
            line-height: 33px;
        }

        .contact-form {
            align-items: center;
            gap: 50px;
        }
        
        .contact-form select {
            width: 300px;
            height: 50px;
            font-size: 16px;
        }

        .contacts .logo-contacts {
            width: 100px;
        }

        .contact-form .output-information {
            width: 285px;
        }
        
        .contact-form .outinfo > p:last-child{
            max-width: 70%;
            min-width: 69%;
        }
        
        .contact-form .outinfo:nth-child(3) p{
            padding-top: 5px;
            line-height: 20px;
        }

        .contact-form .btn-call-us {
            padding-top: 5px;
        }

        .footer {
            line-height: 35px;
            padding: 15px 0;
        }

       
    }
} 