body {
    background-color: #ffffff;
}

.main-container {
    min-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

header {
    min-height: 135px;
    background-color: var(--color-fon);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inika;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-black);
}

.head-logo {
    display: flex;
    justify-content: flex-start;
    padding-left: 110px;
    width: 100%;
    height: 100%;
}

.head-logo img {
    height: 20px;
    width: 20px;
}

.head-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-right: 150px;
    padding-left: 150px;
}

.head-menu .head-items a{
    text-decoration: none;
    color: var(--color-black);
}

.welcom {
    height: 530px;
    background-color: var(--color-fon);
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcom .laefs{
    min-width: 50%;
}

.welcom .laefs img{
    min-height: 410px;
    min-width: 450px;
    padding-left: 120px;
    padding-right: 120px;
}

.welcom .welcom-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 90px;
}

.welcom-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 45px;
    color: var(--color-title);
    line-height: 50px;
}

.welcom-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    color: var(--color-text);
    line-height: 35px;
    margin: 50px 0 50px;
}

.welcom-section .button {
    height: 44px;
    width: 158px;
    font-family: Inter;
    font-weight: 400;
    border: 2px solid var(--color-orange);
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
}

.welcom-section .button:hover {
    background-color: var(--color-orange);
    color: #ffffff;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 660px;
    padding: 110px;
}

.about-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 45px;
    color: var(--color-green);
    line-height: 50px;
    margin: 50px 100px 50px 0;
}

.about-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    color: var(--color-text);
    line-height: 35px;
    margin: 50px 100px 50px 0;
}

.about .about-logo {
    min-width: 45%;
    display: flex;
    justify-content: center;
}

.about .about-logo img{
    height: 480px;
    width: 465px;
}

.service {
    max-height: 1300px;
    background-color: var(--color-fon);
    display: flex;
    flex-direction: column;
    padding: 20px 110px 120px;
}

.service-top {
    height: 170px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 30px;
    gap: 20%;
}

.service-top .service-title {
    color: var(--color-green);
    font-family: Inika;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    min-width: 30%;
}

.service-top .service-menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-left: 55px;
}

.service-top .button-service{
    width: 160px;
    height: 50px;
    font-family: Inika;
    font-weight: 400;
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

.service-top .button-service:hover{
    color: white;
    background-color: var(--color-orange);
}

.service-main {
    margin-top: 40px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 8%;
}

.service-main .service-item {
    padding-top: 30px;
    padding-bottom: 25px;
}

.service-main .service-name {
    height: 100px;
    width: 330px;
    border: 1px solid #E3E1D5;
    border-radius: 0 0 20px 20px;
    text-align: center;
    
}

.service-main .topic {
    color: var(--color-orange);
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
}
.service-main p {
    color: var(--color-title);
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.price-content {
    height: 560px;
    display: flex;
    justify-content: space-between;
    padding: 50px 110px 125px;
}

.price-content .price-choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.price-content div p:first-child {
    font-family: Inter;
    font-weight: 700;
    color: black;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}

.price-content .price-box {
    width: 330px;
    min-height: 300px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.price-content .accordion {
    width: 250px;
    height: 50px;
    background-color: var(--color-fon);
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.04s;
    padding-left: 40px;  
    padding-right: 40px;
    position: relative;
}

.price-content .accordion:hover {
    background-color: #D6E7D2;
}

.price-content .active, .accordion::after {
    content: '\2228';
    float: right;
    border-radius: 20px 20px 0 0;
    background-color: #D6E7D2;
}

.price-content .active::after {
    content: "\2227";
    background-color: #AEA1A1;
}

button.accordion::after {
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 12px;
    position: absolute;
    padding-top: 5px;
    left: 180px;
    top: 10px;
    text-align: center;
}

.price-content .panel {
    width: 250px;
    height: 155px;
    padding: 0 18px;
    background-color: #D6E7D2;
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0 0 20px 20px;
    text-align: center;
}

.price-content .active, .panel:after {
    border-bottom: 1px solid var(--color-title) ;
}

.price-content .panel p:nth-child(1) {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    color: var(--color-title);
    padding-top: 10px;
}

.price-content .panel p:last-child {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.price-content .panel span {
    color: var(--color-orange);
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
}

.price-content .panel .order {
    width: 86px;
    height: 25px;
    color: var(--color-title);
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

.price-content .price-help {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    width: 32%;
    text-align: right;
}

.price-content .button-contact{
    min-width: 160px;
    min-height: 50px;
    font-family: Inika;
    font-weight: 700;
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

.price-content .button-contact:hover{
    color: white;
    background-color: var(--color-orange);
}

.price-content .price-help img{
    height: 175px;
    width: 155px;
}

.contacts {
    height: 550px;
    background-color: var(--color-fon);
    padding: 50px 110px 0;
    display: flex;
}

.contacts > p:first-child {
    font-family: Inika;
    font-weight: 700;
    color: var(--color-green);
    font-size: 40px;
    line-height: 50px;
    width: 200px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.contact-form {
    margin-left: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-grow: 1;
    align-items: flex-end;
}

.contact-form > p:first-child {
    font-family: Inika;
    font-weight: 700;
    color: var(--color-green);
    font-size: 40px;
    line-height: 50px;
    width: 100%;
}

.contact-form select {
    width: 450px;
    height: 50px;
    font-size: 20px;
    color: var(--color-title);
    background-color: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding-left: 15px;
    border: none;
}

 .contact-form option {
    line-height: 100px;
    background-color: #D6E7D2;
    min-height: 100px;
 }

.contact-form select:hover {
    color: var(--color-title);
    background-color: #C1E698;
}

.contact-form .output-information {
    width: 450px;
    height: 215px;
    border: 1px solid;
    border-radius: 20px;
    flex-direction: column;
    padding: 25px;
    flex-shrink: 1;
    display: none;
}

.contact-form .output-information.active {
    display: flex;
}

.contact-form .outinfo {
    display: flex;
    justify-content: space-between;
    min-width: 40%;
}

.contact-form .outinfo > p:last-child{
    display: flex;
    justify-content: space-between;
    min-width: 60%;
}

.contact-form .output-information p{
    font-family: Inter;
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    color: var(--color-title);
}

.contact-form .btn-call-us {
    text-align: center;
}

.contact-form .button-call-us {
    width: 122px;
    height: 26px;
    font-family: Inika;
    font-weight: 700;
    color: var(--color-title);
    border: 1px solid var(--color-orange);
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    line-height: 15px;
    margin-top: 15px;
}

.contact-form .button-call-us:hover{
    color: white;
    background-color: var(--color-orange);
}

footer {
    min-height: 130px;
    padding: 0 110px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .socials {
    display: flex;
    justify-content: space-between;
}

.socials img {
    height: 32px;
    width: 32px;
    margin-right: 20px;
}